@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #f5f5f5;
}
.slide{
    height: 40%;
    width: 20%;
    position: absolute;
    background-color:  pink;
    text-align: center;
    transition: 2s ;
    transform: translatey(-100%);
    margin-top: 0px;
    margin-left: 20px;
    z-index: 1;
}
.menu{
    color:palevioletred;
    font-weight: 900;
    padding: 8px 0;
    pointer-events: none;  
    text-align: center;
    font-family: 'popins',sans-serif ;
}
#ul{
    display: inline;
}
#ul #li{
  list-style-type: none;  
  margin-bottom: 20px;
}
#ul #li #link{
    color: #ca1f08;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    font-family: 'popins',sans-serif ;
}

#ul #li #link #i{
    width: 40px;
   text-align: center;
   transition: 1s;
}
#ul #li #link #i:hover{
    transform: scale(1.1);
}

#in{
    display: none;
    visibility: hidden;
    appearance: none;
}
.toogle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 1200px;
    z-index: 1;
    background-color: palevioletred;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid;
    opacity: 0;
   
}
.toogle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #ca1f08;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toogle .topline{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toogle .midline{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toogle .botline{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#in:checked ~ .toogle .topline{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
#in:checked ~ .toogle .botline{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
#in:checked ~ .toogle .midline{
    opacity: 0;
    transform: translateX(20px)
}
#in:checked ~.slide{
    transform: translatey(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.down{
    display: flex;
    justify-content: center;
    gap: 900px;
    padding: 26px;
}
.con{
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid;
    opacity: 1;
}
@media screen and (width<680px) {
.toogle{
    left: 250px;
    opacity: 1;
}
#ul{
    display: block;
}
.slide{
    width: 40%;
    height: 40vh;
}
}